doctype html
html

  head
    title Ultimate Epic Tic Tac Toe
    meta(charset="UTF-8")
    script(src="scripts/index.js")
    link(rel="stylesheet", href="stylesheets/style.css")

  body
    h1 Tic Tac Toe
    p#turn Turn: X
    button#resetButton Reset
    div#board
